//<!--suppress HtmlUnknownAttribute, BadExpressionStatementJS, XmlUnboundNsPrefix, HtmlUnknownTag, CheckEmptyScriptTag, JSUnresolvedVariable -->
<>
<main class="main-content">
    <section class="rooms-bar">
        <div class="rooms-bar-header">
            <h2>{ "Rooms" }</h2>
            <span class="material-icons clickable" onclick=new_room_onclick.clone()>{ "add" }</span>
        </div>

        <section class="rooms-list">
            { for rooms.into_iter().map(|room| {
            let room_clone = room.clone();
            html! {
            <span
                    class=room_name_class(room.uuid, self.selected_room.unwrap())
                    onclick=self.link.callback(move |_| Msg::RoomSelect(room.uuid))>
                { &room_clone.name }</span>
            }
            }) }
        </section>
    </section>

    <section class="selected-room">
        <div class="selected-room-header">
            <h2>{ selected_room.get(0).map(|r| &r.name).unwrap_or(&"".to_string()) }</h2>
            <div class="right-section">
                <button class="material-icons transparent clickable">{"notifications"}</button>
                <span class="clickable"> { me.as_ref().map(|me| &me.username).unwrap_or(&"lol no wtf".to_string()) }</span>
            </div>
        </div>

        <section class="messages-container">
            <section class="messages">
                <MessageListComponent room_id=self.selected_room.unwrap() />
            </section>
            <NewMessageComponent room_id=self.selected_room.unwrap() />
        </section>
    </section>

</main>

<div class=dialog_class>
    <div class="dialog-content">
        <section class="header">
            <h2>{ "Create a new room" }</h2>
            <button class="material-icons transparent" onclick=new_room_onclick>{"cancel"}</button>
        </section>

        <input oninput=on_input placeholder = "Room name" />
        <button onclick=onclick> {"Create"} </button>
    </div>
</div>
</>
