//<!--suppress ALL -->

<main class="login-form-container">
    <section class="login-form">

        <label>
            {"Username"}
            <input
                    type="text"
                    oninput=self.link.callback(|e: InputData| Msg::UsernameUpdate(e.value))
            />
        </label>

        <label>
            {"Password"}
            <input
                    type="password"
                    oninput=self.link.callback(|e: InputData| Msg::PasswordUpdate(e.value))
            />
        </label>


        {match &self.state {
        CurrentlyShowingState::Signin => html! {<>
            <button onclick=self.link.callback(|_| Msg::Login)> {"Login"}</button>
            <span>{"Need an account? "}<button class="link-button" onclick=flip_state.clone()>{"Create one"}</button></span>
        </>},
        CurrentlyShowingState::Signup => html! {<>
            <button onclick=self.link.callback(|_| Msg::Signup)> {"Signup"}</button>
            <span>{"Already have an account? "} <button class="link-button" onclick=flip_state>{"Login"}</button></span>
        </>}
        }}
    </section>
</main>
