* {
    margin: 0;
}

body[data-theme=default] {
    --mdc-theme-primary: #3f51b5;
    --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
    --mdc-theme-error: #b00020;

    --hover-color: rgba(0, 0, 0, 0.1);
    --border-color: rgba(0, 0, 0, 0.12);
}

mwc-drawer {
    height: 100vh;
}

mwc-dialog {
    --mdc-dialog-min-width: 35vw;

    h2 {
        padding-bottom: 0.5em;
        border-bottom: 1px solid var(--border-color);

        display: flex;
        gap: 0.3em;

        font-size: 1.3em;

        img {
            height: 1.3em;
            border-radius: 50%;
        }
    }
}

.new-room mwc-button {
    width: 100%;
}

.create-room-container {
    display: flex;
    justify-content: center;
}

#auth-wrapper-container {
    width: 100%;
    height: 100vh;
    display: flex;

    #auth-wrapper {
        width: 35vw;
        margin: auto;

        .mdc-card {
            align-items: center;
            height: min-content;

            mwc-tab-bar {
                width: 100%;
            }

            mwc-linear-progress {
                width: 35vw;
            }

            .card-content {
                display: flex;
                gap: 1em;
                flex-direction: column;
                padding-bottom: 1em;
                padding-top: 2em;

                mwc-textfield {
                    width: 20vw;
                }

                .error {
                    color: var(--mdc-theme-error);
                    display: flex;
                    gap: 0.2em;
                    align-content: center;
                    font-size: 0.8em;
                    --mdc-icon-size: 1.4em;

                    span {
                        margin: auto 0;
                        width: 18vw;
                    }
                }
            }

            .mdc-card__action-buttons {
                width: 20vw;
                padding: 1em 0 2em 0;
                justify-content: center;

                .separator {
                    flex: 1;
                }
            }
        }
    }
}

#drawer-sidebar {
    $padding-top: 1em;
    height: calc(100% - #{$padding-top});
    padding-top: $padding-top;

    h2 {
        padding-left: 0.75em;
    }

    mwc-list-item img[slot=graphic] {
        margin-right: 1em;
    }
}


.room-name {
    cursor: pointer;
}

.room-content {
    height: calc(100% - 80px);
    overflow: auto;

    display: flex;
    flex-direction: column;

    padding: 0 0 1em 2em;
}

.room-info {
    header {
        display: flex;
        padding: 1em 0;
        gap: 0.5em;
    }

    .room-members-container {
        .add-user-button-container {
            cursor: pointer;
            --mdc-icon-size: 2em;
        }

        article {
            display: flex;
            align-items: center;
            gap: 0.5em;
            padding: 0.5em 0;

            img {
                max-width: 2em;
                max-height: 2em;
                border-radius: 50%;
            }
        }
    }
}

.messages-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 1em;
    align-self: flex-end;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.message-card {
    display: flex;
    gap: 0.4em;

    .timestamp {
        font-size: 0.77em;
    }

    &[data_type="default"] {
        .content-container {
            display: flex;
            flex-direction: column;
            gap: 0.3em;

            section {
                display: flex;
                gap: 0.65em;
                align-items: flex-end;

                .author {
                    font-weight: 500;
                    font-size: 1.1em;
                }
            }
        }
    }

    &[data_type="join"] {
        align-items: center;
        padding: 0 0.5em;
        cursor: pointer;

        span[class="user-avatar"] {
            --mdc-icon-size: 1em;
            --mdc-icon-button-size: 1.3em;
        }

        .timestamp {
            align-self: revert;
        }
    }

    &:hover {
        background-color: var(--hover-color);
        border-radius: 16px;
        margin-right: 1em;
    }
}

.new-message-form-container {
    padding: 1em 1em 0 0;

    display: flex;
    align-items: center;

    mwc-formfield {
        width: 100%;
    }

    mwc-textarea {
        width: 100%;
        height: 60px;
    }
}

.user-avatar {
    --mdc-icon-size: 45px;

    mwc-icon-button {
        img {
            border-radius: 50%;
        }
    }
}

.user-profile-dialog-container {
    .profile-dialog-container {
        display: flex;
        gap: 1.5em;
        align-items: center;
        flex-direction: column;

        img {
            border-radius: 50%;
            max-height: 50%;
            max-width: 50%;
        }

        span {
            font-size: 1.3em;
        }
    }
}

mwc-menu {
    --mdc-list-item-graphic-margin: 1.5em;

    mwc-list-item[graphic=avatar] {
        span {
            margin-left: 1em;
        }
    }
}

#update-profile-container {
    width: 100%;
    height: 100vh;
    display: flex;

    .mdc-card {
        margin: auto;

        width: 40vw;
        padding: 2em;

        display: grid;
        justify-content: center;
        grid-gap: 1.5em;

        .avatar-username-container {
            display: flex;
            padding-bottom: 1em;

            div.avatar {
                position: relative;
                img {
                    $dimensions: 15em;
                    width: $dimensions;
                    height: $dimensions;

                    border-radius: 50%;
                }

                .file-input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    border: 0;
                    background: rgba(0, 0, 0, .5);
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    text-transform: uppercase;
                    font-weight: 600;
                    pointer-events: none;
                }

                .hide {
                    visibility: hidden;
                }
            }

            span {
                align-self: flex-end;
                font-size: 1.4em;
                padding-left: 0.5em;
            }
        }

        .edit-field-container {
            display: flex;
            align-items: center;

            .separator {
                flex: 1 1 auto;
            }

            span {
                &:not(.icon-wrapper) {
                    font-size: 1.1em;
                }

                &.icon-wrapper {
                    cursor: pointer;
                }
            }

        }
    }
}

